body
{
  color: white;
  background: #263906;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name1 ,#result_emotion_name2  
{
  color:gray;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
  font-size: larger;
  border-radius: 10px;
  letter-spacing: 10px;
}

label{
  font-size: medium;
  background-color: aqua;
  color: honeydew;
  padding: 6px;
  border-radius: 10px;
}
